
/*================= HERO =================== */
.hero {
  width: 100%;
  color:  rgba(2, 52, 117, 0.15);
  font-family: "Sora", sans-serif;
 
  
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1903px;
  height: 670px;
  gap: 40px;
}

/* LEFT */
.hero-content {
  max-width: 540px;
 
}

.hero-badge {
  display: inline-block;
  width: 336px;
  height: 32px;
  opacity: 1;
  font-weight: 400px;
  font-size: 17px;
  line-height: 32px;
  vertical-align: middle;
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 16px;
  color: rgba(112, 79, 230, 1); 
}

.hero-title {
  font-size: 52px;
  width: 872px;
  height: 144px;
  line-height: 1.2;
  margin-bottom: 20px;
  line-height: 62px;
  color: rgba(14, 42, 70, 1);

}

.hero-text {
  font-size: 15px;
  margin-bottom: 32px;
  font-family: Sora;
  font-weight: 400;
  font-style: normal;
  line-height: 28.5px;
  vertical-align: middle;
  width: 487.6px;
  height: 53.75px;
  opacity: 1;
  color:rgba(51, 57, 49, 1);



}

/* RIGHT */
.hero-image {
  position: relative;
  max-width: 540px;
  width: 740.5px;
  height: 670px;
  opacity: 1;
}

.hero-decor {
  margin-top: 24px;
}

.hero-image img {
  width: 100%;
  max-width: 740px;
  height: auto;
  border-radius: 12px;
}

/* ================= USER RATING CARD ================= */
.hero-rating {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 450px;
  left: -100px;
  border-radius: 10px;
  padding: 16px 20px;
  background-color:rgba(255, 255, 255, 1);
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.08);
  gap: 8px;
}

.rating-text {
  display: flex;
  font-size: 30px;
}

.rating-text p {
  display: flex;
  font-family: Sora, sans-serif;
  font-weight: 400px;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(23, 37, 78, 1);

}

.rating-count {
  font-size: 22px;
  font-weight: 700;
  color: rgba(112, 79, 230, 1);
}

/* AVATARS */
.rating-avatars {
  display: flex;
  align-items: center;
}

.rating-avatars img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-left: -8px;
}

.secondary-btn {
  width: 203px;
  height: 89.25px;
  border-radius: 200px;
  width: 203.02999877929688;
  opacity: 1;
  padding-top: 3px;
  border-radius: 200px;
  background: rgba(23, 37, 78, 1);


}